<form class='form' id='mainform'>
  <select
    onchange='this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value)'
  >
    <option>Idioma</option>
    <option value='/histories/cat'>Català</option>
    <option value='/histories/cas'> Castellano</option>
    <option value='/histories/eus'> Euskara</option>
    <option value='/histories/gal'> Galego</option>
  </select>
</form>