<H1> Centrifugadora de historias </ h1>
    <p> Escribe, separando con comas, los elementos de las categorías que quieras sortear. <br>
      Indica cuántos elementos quieres que aparezcan en el sorteo por cada categoría. <br>
      Puedes añadir o quitar las categorías que prefieras: </p>
      <h3> Categorías predefinidas: </h3>
    <form id="form">
      <div id = "row1">
        <img src = "/img/menys.png" alt = "" id = "less1">
        <img src = "/img/categoria.png" alt = "">
        <Label for = "people"> Protagonistas </label>
        <img src = "/img/llapis2.png" alt = "">
        <input type = "text" id = "peopleInput" class = "textInput">
        <img src = "/img/logoqv2.png" alt = "">
        <input type = "text" id = "peopleNum" class = "numInput">
        <br>
      </div>
      
      <div id = "row2">
        <img src = "./img/menys.png" alt = "" id = "less2">
        <img src = "./img/categoria.png" alt = "">
        <Label for = "plazas"> Espacios </label>
        <img src = "./img/llapis2.png" alt = "">
        <input type = "text" id = "placesInput" class = "textInput">
        <img src = "./img/logoqv2.png" alt = "">
        <input type = "text" id = "placesNum" class = "numInput">
        <br>
      </div>

      <div id = "row3">
        <img src = "./img/menys.png" alt = "" id = "less3">
        <img src = "./img/categoria.png" alt = "">
        <Label for = "action"> Acción </label>
        <img src = "./img/llapis2.png" alt = "">
        <input type = "text" id = "problemsInput" class = "textInput">
        <img src = "./img/logoqv2.png" alt = "">
        <input type = "text" id = "problemsNum" class = "numInput">
        <br>
      </div>

      <div id = "new">
        <img src = "./img/mes.png" alt = "" id = "more">
        <img src = "./img/categoria.png" alt = "">
        <input type = "text" id = "newVarTitle">
        <img src = "./img/llapis2.png" alt = "">
        <input type = "text" id = "newVarInput" class = "textInput">
        <img src = "./img/logoqv2.png" alt = "">
        <input type = "text" id = "newVarInput" class = "numInput">
        <br>
      </div>
    </form>

    <div class = "footer">
      <div>
        <Button  id = "generate"> Sortea </button>
        <img src = "./img/sorteig.png" alt = "" class = "pointer">
      </div>
      <div>
        <h5> Descargar <br> resguardo del <br> sorteo </h5>
         <img src = "./img/descargar.png" alt = "" id = "download">
      </div>
    </div>

    <div id = "app" class = "hide">
      <h3>Fecha: <span id="date"></span></h3>
      <H2> Resultado: </h2>
      <Ul>
          <Li> Protagonistas: <span id = "people"> </span> </li>
          <Li> Espacio: <span id = "place"> </span> </li>
          <Li> Acción: <span id = "problem"> </span> </li>
      </Ul>
    </div>