{{>nav }}

<div class="games">
<h1>Centrifugadora d'històries</h1>
    <p>Escriu separant amb comes els elements de les categories que vulguis sortejar. <br>
      Indica quants elements vols que apareguin al sorteig per cada categoria. <br>
      Pots afegir o treure les categories que prefereixis:</p>
      <br>
    
      <h3>Categories predefinides:</h3>
    <form id="form">
      <div id="row1">
        <img src="/img/paperera.png" alt="" id="less1">
        <img src="/img/categoria.png" alt="">
        <label for="people">Protagonistes</label>
        <img src="/img/llapis2.png" alt="">
        <input type="text" id="peopleInput" class="textInput">
        <img src="/img/logoqv2.png" alt="">
        <input type="text" id="peopleNum" class="numInput">
        <br>
      </div>
      
      <div id="row2">
        <img src="/img/paperera.png" alt="" id="less2">
        <img src="/img/categoria.png" alt="">
        <label for="places">Espais</label>
        <img src="/img/llapis2.png" alt="">
        <input type="text" id="placesInput" class="textInput">
        <img src="/img/logoqv2.png" alt="">
        <input type="text" id="placesNum" class="numInput">
        <br>
      </div>

      <div id="row3">
        <img src="/img/paperera.png" alt="" id="less3">
        <img src="/img/categoria.png" alt="">
        <label for="action">Acció</label>
        <img src="/img/llapis2.png" alt="">
        <input type="text" id="problemsInput" class="textInput">
        <img src="/img/logoqv2.png" alt="">
        <input type="text" id="problemsNum" class="numInput">
        <br>
      </div>

      <div id="new">
        <img src="/img/mes.png" alt="" id="more">
        <img src="/img/categoria.png" alt="">
        <input type="text" id="newVarTitle">
        <img src="/img/llapis2.png" alt="">
        <input type="text" id="newVarInput"  class="textInput">
        <img src="/img/logoqv2.png" alt="">
        <input type = "text" id = "newVarNum" class = "numInput">
        <br>
      </div>
    </form>

    <div class="footer">
      <div>
        <button id="generate"> Sorteja </button>
        <img src="/img/sorteig.png" alt="" class="pointer">
      </div>
      <div>
        <h5>Descarregar <br> resguard del<br> sorteig</h5>
        <img src="/img/descargar.png" alt="" id="download">
      </div>
    </div>

    <div id="app" class="hide">
      <h3>Data: <span id="date"></span></h3>
      <h2>Sorteig:</h2>
      <Ul id="appResults"></ul>
    </div>
    </div>