<div class='homepage'>
  <h1>La centrifugadora de recursos</h1>

  <hr />
  <img src='./img/logo2.jpg' />
  <form method='GET' action='/histories/cat' target='_blank'>
    <input type='submit' value='start' />
  </form>
</div>