<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>La centrifugadora</title>
    <link rel='stylesheet' href='/reset.css' />
    <link
      href='//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro'
      rel='stylesheet'
      type='text/css'
    />
    <link rel='stylesheet' href='/styles.css' />
    <link rel='stylesheet' href='/print.css' />
  </head>
  <body>

    {{{body}}}
    <script src='/print.js'></script>
    <script src='/index.js'></script>
  </body>
</html>