@import url(//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro);
@font-face {
  font-family: 'Myriad Pro';
  src: url('//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.eot');
  src: url('//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.eot?#iefix') format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.svg#Myriad Pro') format('svg');
}

/*--Mobile--*/

/* NAV */
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Myriad Pro', sans-serif;
}

.form {
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.form select {
  font-family: 'Myriad Pro';
}

/* MAIN */
.games {
  padding: 12vh 5vw 0;
  display: flex;
  flex-direction: column;
}

.games h1 {
  font-size: 2.8rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}

.games p {
  color: #bbbbbb;
  padding-bottom: 1rem;
}

.games h3 {
  padding-bottom: 1rem;
}

/* FORM */
#form img {
  width: 40px;
}

#form > div {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 5px;
}

#form > div > div {
  display: flex;
  align-items: center;
  width: 100%;
}

#form > div > div:last-child {
  justify-content: space-around;
}

#form label,
#new div:nth-child(1) > input {
  margin-left: 5px;
}

#form input {
  height: 30px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 0 3px 0 3px;
}

#row1 input:last-child,
#row2 input:last-child,
#row3 input:last-child,
#form > div > div:last-child > input:last-child {
  width: 30px;
}

#more,
#less1,
#less2,
#less3,
#generate,
#download {
  cursor: pointer;
}

/* FOOTER */
button {
  text-align: left;
  border: none;
  background-color: #8ecbe1;
  font-size: 2rem;
  height: 2.7rem;
  width: 280px;
  padding: 0 7rem 0 2rem;
  position: relative;
  top: 1.5rem;
  margin-bottom: 50px;
}

.pointer {
  position: absolute;
  left: 55%;
  width: 80px;
}

.footer > div:first-child {
  text-align: center;
}

.footer > div:last-child {
  position: relative;
  padding: 0 1.5rem 0 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

h5 {
  width: 30%;
  padding-right: 10%;
}

#download {
  width: 80px;
}

/* RESULTS */
.hide {
  display: none;
}

#app {
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
  border: 5px solid #8ecbe1;
  border-radius: 2%;
  height: 200px;
  margin-bottom: 1rem;
}

#app h2 {
  font-size: 1.7rem;
}

/*--Tablet--*/
@media only screen and (min-width: 600px) {
  .games h1 {
    font-size: 3.7rem;
  }
  .games p {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }
  .form select {
    padding: 0.7rem;
  }
  .form select,
  .form option {
    font-size: 1rem;
  }
  label {
    font-size: 1.8rem;
  }
  #form {
    margin-bottom: 2rem;
  }
  #form > div {
    display: flex;
    border: none;
    margin-bottom: 0;
  }
  #form > div > div:first-child {
    width: 70%;
  }
  .footer > {
    text-align: center;
  }
  .footer > div:first-child {
    margin-bottom: 1rem;
  }
  .footer > div:last-child {
    margin: 0;
  }
  h5 {
    padding: 0;
  }
}

/*--Desktop--*/
@media only screen and (min-width: 769px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .form {
    top: 10%;
    right: 20%;
  }
  .form select,
  .form option {
    font-size: 2rem;
    padding: 0;
  }
  .games h1 {
    font-size: 5rem;
  }
  .games p {
    width: 60%;
  }
  label {
    font-size: 3rem;
  }
  #form img {
    width: 70px;
  }
  #form > div > div:first-child {
    width: 40%;
  }
  #form input {
    height: 55px;
  }
  #row1 input:last-child,
  #row2 input:last-child,
  #row3 input:last-child,
  #form > div > div:last-child > input:last-child {
    width: 70px;
  }
  button {
    top: 10%;
    left: 87%;
  }
  .pointer {
    position: relative;
    top: 30%;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
  }
  .footer > div:last-child h5 {
    position: relative;
    top: -50%;
    left: 60%;
  }
  #download {
    position: relative;
    left: 27%;
    padding-top: 2rem;
  }
}
